*{  box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}
body{
    margin: 0;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(224, 226, 248);
}
h3,h6{
    text-align: center;
}
form{
    background: url();
    height: 490px;
    width: 666px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: end;
}
.form-title,button{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
form>[type=checkbox]{
    border: none;
}
input{
    font-size: 14px;
    background: white;
    width: 364px;
    padding: 9.5px 19.6px;
    border: 1px solid rgb(185, 211, 235);
    border-radius: 5px;
}

input,input::placeholder{
    color: rgb(0, 0, 0);
}
input:focus{
    outline: 2px solid rgb(242, 242, 255);
}
.link{
    width: 365px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div a{
    font-size:  15px;
    color: rgb(44, 78, 192);
    text-decoration: none;
}
div a:hover{
    text-decoration: underline;
}
div a:active{
    color: rgb(44, 78, 192);
    text-decoration: none;
}
button{
    margin-bottom: 1%;
    height: 45px;
    width: 363px;
    border: none;
    border-radius: 10px;
    background: rgb(18, 71, 218);
    color: white;
    box-shadow: none;
    cursor: pointer;
}
button:hover{
    background: blue;
    color: wheat;
}
button:active{
    opacity: 0.0;
}
