body{
    margin: 10px;
}

.heading{
    text-align: center;
    background-color: rgba(144, 224, 24, 0.479);
    margin-top: 20px;
}

.text{
    text-align: center;
    color: red;
    text-decoration: underline;
    text-decoration-color: rgba(221, 7, 7, 0.658);
    font-size: 50px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    column-gap: 10px;
}

img{
    max-width: 500px;
    height: 400px;
}
